doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 3D Player
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js") 
        link(rel="stylesheet", href="/css/page.css")
        script(type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js")
        link(rel="stylesheet" href="/css/demo-styles.css")
    body 
        main 
            block header 
              nav.navbar.navbar-inverse
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="#") 3D Player
                        ul.nav.navbar-nav
                            li.active
                                a(href="/") Home
                            li 
                                a(href="/login") Upload
                             
            block content 
                