extends layout 
block content 
    div.present
        div.present-details
            each model in models
                model-viewer(src=`${model.path}` shadow-intensity="1" camera-controls touch-action="pan-y" autoplay animation-name="Dance")
