extends layout 
block header
    script(type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js")
    link(rel="stylesheet" href="/css/demo-styles.css")
block content 
    div.present
        div.present-details
            each model in models
                model-viewer(src=`${model.path}` shadow-intensity="1" camera-controls touch-action="pan-y" autoplay animation-name="Dance")
